<h1><%= title "Edit department #{@department.name}" %></h1>

<%= render 'form', department: @department %>

<%= link_to raw(t'actions.view'), @department, class: 'btn btn-primary' %>
<%= link_to raw(t'actions.back'), departments_path, class: 'btn btn-secondary' %>
