<div class="collapse" id="search-form">
  <div class="form-group pt-3 mb-0">
    <input id="search-input" type="text" class="form-control" placeholder="Type to start search">
  </div>
</div>

<% content_for :after do %>
  <%= javascript_include_tag "quick-search.js", async: true, defer: true %>
<% end %>
