<% content_for :head do %>
  <%# Chart libraries %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chartkick@3.2.0/dist/chartkick.min.js", integrity: "sha256-QQ42jSsvKp0SDBvW+xRjHWfK2I4ObL37tEF4+l8a0qg=", crossorigin: :anonymous %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js", integrity: "sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=", crossorigin: :anonymous %>
<% end %>

<%= render partial: 'svg_header', locals: { file: title_svg, text: title_text } %>

<%= render partial: 'search_form', locals: { url: current_path } %>

<% if @action %>
  <div class="card shadow">
    <div class="card-header text-center bg-primary text-white">
      <h3 class="mb-0">Search results</h3>
    </div>
    <div class="card-body rounded-bottom bg-white p-3">
      
   
      </div>
    </div>
  </div>
<% end %>
